.searchResults {
    display: grid;
    grid-template-columns: 4fr 4fr;
    position: absolute;
    background-color: #111729;
    top: 5.5rem;
    left: 29rem;
    display: flex;
    height: 5rem;
    width: 23rem;
    border-radius: 10px;
    padding: 0.5rem;
    z-index: 1;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.searchResults img {
    border-radius: 10px;
    max-height: 4rem;
    max-width: 4rem;
}

.searchResults .textContainer {
    width: 15rem;
    height: 4rem;
    padding: 10px;
    left: 0;
}

.textContainer .bioResult {
    font-size: 0.75rem;
    font-weight: 400;
    font-stretch: expanded;
    color: #4A5567;
    margin: 0;
}

.textContainer .nameResult {
    font-size: 1rem;
    font-weight: 700;
    color: #CDD5E0;
    margin: 0;
    margin-bottom: 1rem;
    left: 0;
}

@media (max-width:1024px) {
    .searchResults {
        display: grid;
        grid-template-columns: 4fr 4fr;
        position: absolute;
        background-color: #111729;
        top: 5.5rem;
        left: 21rem;
        display: flex;
        height: 5rem;
        width: 22rem;
        border-radius: 10px;
        z-index: 1;
        text-decoration: none;
        border: none;
        cursor: pointer;
    }
}

@media (max-width: 640px) {

    .searchResults {
        display: grid;
        grid-template-columns: 4fr 4fr;
        position: absolute;
        background-color: #111729;
        top: 5.5rem;
        left: 11rem;
        display: flex;
        height: 5rem;
        width: 18rem;
        border-radius: 10px;
        z-index: 1;
        text-decoration: none;
        border: none;
        cursor: pointer;
    }

}